{% extends 'mailing_service/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data" action="">
                <div class="card">
                    <div class="card-body">
                        {% block user_content %}
                        {% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
