{% extends 'mailing_service/base.html' %}

{% block title %}Заблокировать Пользователя?{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data" action="">
                <div class="card">
                    <p class="card-text">Вы уверены, что хотите заблокировать Пользователя?</p>
                    <div class="card-body">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div>
                            <button type="submit" class="btn btn-danger">Заблокировать</button>
                            <a class="btn btn-outline-secondary" href="{% url 'users:users_list' %}"
                               role="button"> Назад </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
