{% extends 'mailing_service/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for attempt in attempts %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Дата и время создания попытки рассылки: {{attempt.created_at|date:"H:i:s d M Y"}}</p>
                        <p class="card-text">Статус попытки рассылки: {{attempt.status}}</p>
                        <p class="card-text">Автор попытки рассылки: {{attempt.mailing.owner}}</p>
                        {% if attempt.server_response %}
                        <p class="card-text">Ответ почтового сервера: {{attempt.server_response|truncatechars:37}}</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
